src/main/mule/anypoint-race-api-mulesoft.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:anypoint-mq="http://www.mulesoft.org/schema/mule/anypoint-mq" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd
	http://www.mulesoft.org/schema/mule/anypoint-mq http://www.mulesoft.org/schema/mule/anypoint-mq/current/mule-anypoint-mq.xsd">
	<flow name="anypoint-race-api-mulesoftFlow2" doc:id="97dba902-b70a-437f-a3e9-08bda7828aad">
		<scheduler doc:name="Scheduler" doc:id="2ab6022c-3a2f-4877-b2e8-e255ad54e339">
			<scheduling-strategy>
				<fixed-frequency frequency="${frequency.ms}" />
			</scheduling-strategy>
		</scheduler>
		<http:request method="POST" doc:name="Start" doc:id="90a0ed32-93b1-4828-99fd-014e69d27a26" config-ref="HTTP_Request_configuration" path="#[&quot;/api/racers/$(Mule::p('racerId'))/start&quot;]">
			<http:body>
				<![CDATA[#[output application/json
---
{
	racerUrl: Mule::p('racer.api.url')
}]]]>
			</http:body>
			<http:headers>
				<![CDATA[#[output application/java
---
{
	"client_secret" : Mule::p('client_secret'),
	"client_id" : Mule::p('client_id')
}]]]>
			</http:headers>
		</http:request>
		<ee:transform doc:name="Get raceId" doc:id="yyfvxj">
			<ee:variables>
				<ee:set-variable variableName="raceId">#[payload.raceId]</ee:set-variable>
			</ee:variables>
		</ee:transform>
		<anypoint-mq:consume destination="${anypointmq.queue}" config-ref="race-mq" doc:name="Consume" doc:id="ezbnpd" />
		<http:request method="POST" doc:name="Finish" doc:id="001860a0-bf01-4ff7-8d59-6538a88c3067" config-ref="HTTP_Request_configuration" path="#[&quot;/api/racers/$(Mule::p('racerId'))/races/$(vars.raceId)/finish&quot;]">
			<http:body>
				<![CDATA[#[output text/plain --- payload default ""]]]>
			</http:body>
			<http:headers>
				<![CDATA[#[output application/java
---
{
	"client_secret" : Mule::p('client_secret'),
	"client_id" : Mule::p('client_id')
}]]]>
			</http:headers>
		</http:request>
		<logger doc:name="Logger" doc:id="echkax" message="Finished"/>
		<logger level="INFO" doc:name="Logger" doc:id="6e9b9cb3-bb24-48a9-b218-4ba22b6d60f6" message="#[payload]" />
	</flow>
</mule>