src/main/mule/subscriber.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:anypoint-mq="http://www.mulesoft.org/schema/mule/anypoint-mq" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd
	http://www.mulesoft.org/schema/mule/anypoint-mq http://www.mulesoft.org/schema/mule/anypoint-mq/current/mule-anypoint-mq.xsd">

	<flow name="subscriber" doc:id="97dba902-b70a-437f-a3e9-08bda7828aad">
		<anypoint-mq:subscriber destination="${anypointmq.queue}" config-ref="race-mq" doc:name="Subscriber" doc:id="wrzpfx" />
		<!-- <ee:transform doc:name="Save queuePayload" doc:id="yyfvxj">
			<ee:variables>
				<ee:set-variable variableName="queuePayload">#[payload]</ee:set-variable>
			</ee:variables>
		</ee:transform> -->
		<http:request method="POST" doc:name="Finish" doc:id="001860a0-bf01-4ff7-8d59-6538a88c3067" config-ref="HTTP_Request_configuration" path="#[&quot;/api/racers/$(Mule::p('racerId'))/races/$(payload.raceId)/finish&quot;]">
			<http:body>
				<![CDATA[#[output text/plain --- payload.token default ""]]]>
			</http:body>
			<http:headers>
				<![CDATA[#[output application/java
---
{
	"client_secret" : Mule::p('client_secret'),
	"client_id" : Mule::p('client_id')
}]]]>
			</http:headers>
		</http:request>
		<logger doc:name="Logger" doc:id="echkax" message="Finished" />
		<logger level="INFO" doc:name="Logger" doc:id="6e9b9cb3-bb24-48a9-b218-4ba22b6d60f6" message="#[payload]" />
	</flow>
</mule>