src/main/mule/subscriber.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:anypoint-mq="http://www.mulesoft.org/schema/mule/anypoint-mq" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd
	http://www.mulesoft.org/schema/mule/anypoint-mq http://www.mulesoft.org/schema/mule/anypoint-mq/current/mule-anypoint-mq.xsd">

	<flow name="subscriber" doc:id="97dba902-b70a-437f-a3e9-08bda7828aad">
		<anypoint-mq:subscriber destination="${anypointmq.queue}" config-ref="race-mq" doc:name="Subscriber" doc:id="wrzpfx" />
		<http:request method="POST" doc:name="Finish" doc:id="001860a0-bf01-4ff7-8d59-6538a88c3067" config-ref="HTTP_Request_configuration" path="#[&quot;/api/racers/$(Mule::p('racerId'))/races/$(payload.raceId)/finish&quot;]">
			<http:body>
				<![CDATA[#[output text/plain --- payload.token default ""]]]>
			</http:body>
			<http:headers>
				<![CDATA[#[output application/java
---
{
	"client_secret" : Mule::p('client_secret'),
	"client_id" : Mule::p('client_id')
}]]]>
			</http:headers>
		</http:request>
		<logger doc:name="Finished race" doc:id="echkax" message="Finished race" />
		<logger doc:name="Log payload" doc:id="bajsmd" message="#[payload]" />
		<error-handler>
			<on-error-continue name="Too many requests" type="HTTP:TOO_MANY_REQUESTS">
				<logger doc:name="Log Error" doc:id="libjcq" message="#['Error: ' ++ (error.description default 'null')]" level="ERROR" />
			</on-error-continue>
		</error-handler>
	</flow>
</mule>