src/main/mule/trigger.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:anypoint-mq="http://www.mulesoft.org/schema/mule/anypoint-mq" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd
	http://www.mulesoft.org/schema/mule/anypoint-mq http://www.mulesoft.org/schema/mule/anypoint-mq/current/mule-anypoint-mq.xsd">
	<flow name="trigger">
		<scheduler doc:name="Scheduler" doc:id="2ab6022c-3a2f-4877-b2e8-e255ad54e339">
			<scheduling-strategy>
				<fixed-frequency frequency="${frequency.ms}" />
			</scheduling-strategy>
		</scheduler>
		<http:request method="POST" doc:name="Start" doc:id="90a0ed32-93b1-4828-99fd-014e69d27a26" config-ref="HTTP_Request_configuration" path="#[&quot;/api/racers/$(Mule::p('racerId'))/start&quot;]">
			<http:body>
				<![CDATA[#[output application/json
---
{
	racerUrl: Mule::p('racer.api.url')
}]]]>
			</http:body>
			<http:headers>
				<![CDATA[#[output application/java
---
{
	"client_secret" : Mule::p('client_secret'),
	"client_id" : Mule::p('client_id')
}]]]>
			</http:headers>
		</http:request>
		<logger doc:name="Started race" doc:id="zwkrun" message="Started race" />
		<logger doc:name="Log payload" doc:id="vfqfnt" message="#[payload]" />
		<error-handler>
			<on-error-continue doc:name="On error continue" type="HTTP:TOO_MANY_REQUESTS">
				<logger doc:name="Log Error" doc:id="foqgeg" message="#['Error: ' ++ (error.description default 'null')]" level="ERROR" />
			</on-error-continue>
		</error-handler>
	</flow>
</mule>